@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

.divisor {
    width: 175px;
    height: 30px;
}

.conteudo {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.titulo {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 100px;
    padding-left: 100px;
}

.titulo h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 100px;
}

#paragrafo {
    width: 550px;
    margin-top: 35px;
    font-style: normal;
    line-height: 28px;
    font-size: 24px;
}

.games{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 1245px){
    .games{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 40px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }

    .conteudo {
        margin-left: 0px;
        margin-top: 100px;
        padding: 50px;
    }

    .titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        padding-top: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 825px){
    .titulo h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
    }
    
    #paragrafo {
        width: 100%;
        margin-top: 20px;
        font-size: 16px;
        line-height: 19px;
    }

    .conteudo *{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}


